/* paramétrage du body */


body 
{
	margin: 0
}

/*header*/

#header
{
	position: relative;
	height: 70px;
	text-align: center;
	background-color: #0066ff;

}


#header h1
{
	font-size: 2.0em;
	margin: 0;
	padding-top: 15px;
	color: black;
}


#logo1, #logo2
{
	position: absolute;
}


#logo1
{
	left: 0;
	top: 0;
}

#logo2

{
	top:0;
	right:0;
}

/*menu*/


nav ul 
{
	display: flex;
	list-style: none;
	justify-content: center;
	border-bottom: 1px solid grey;
	padding-bottom: 16px;
}

nav ul li
{
	margin-right: 20px;
	font-size: 1.5em;
	font-weight: bolder;
	
}

ul li a 
{
	text-decoration: none;
	color: black;
}















/*footer*/



#footer
{
	height: 70px;
	color: black;
	background-color: #0066ff;
	text-align: center;
	

}

#footer p
{
	margin: 0;
	padding-top: 25px;
}